<html>
    <head>
        <title>Sis</title>
        <link rel="stylesheet" type="text/css" href="css/estilosformularios.css" >
    </head>
    <body bgColor="white">
        <table border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
            <tr>
                <td>
                    <table border="0" width="200" cellspacing="0" cellpadding="0"align="center">
                        <tr>
                            <td height="30">&nbsp;</td>
                        </tr>
                        <tr class="titulo11" align="center" style="height: 35px;" valign="middle">
                            <td><img src="imagens/icones/atencao.png" border="0" alt=""><br><b>ATENÇÃO</b></td>
                        </tr>
                        <tr style="height: 30px;" valign="middle">
                            <td class="normal11" align="center">Tempo de conexão expirou!<br><a href="javascript:top.location.href='../../login.php?opt=2'">Clique aqui</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>